@use "../global" as *;

.container {
  @include contents-width;
}

.top {
  margin: 4rem 0 4rem;
  position: relative;

  @include tab {
    margin-bottom: 6rem 0 6rem;
  }

  @include pc {
    margin-bottom: 8rem 0 8rem;
  }

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: clamp(22px, 2.2rem, 26px);

    @include tab {
      font-size: clamp(26px, 2.6rem, 30px);
    }

    @include pc {
      font-size: clamp(30px, 3.4rem, 34px);
    }
  }

  &__dark-mode-button {
    //reset
    padding: unset;
    margin: unset;
    font: unset;
    appearance: unset;
    background-color: unset;
    border: unset;

    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: block;
    width: 64px;
    height: 34px;
    border-radius: 100vmax;
    background-color: $orange;
    border: 2px solid $orange;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(2px, -50%);
      height: 24px;
      aspect-ratio: 1 / 1;
      border-radius: 100vmax;
      background-color: $white;
      background-image: url(../images/light.svg);
      background-size: 70%;
      background-position: center;
      background-repeat: no-repeat;
      transition:
        transform 0.3s ease-out,
        background-image 0.3s ease-out;
    }

    &:checked {
      background-color: var(--background-color);
      border: 2px solid var(--font-color);

      &::before {
        transform: translate(32px, -50%);
        background-image: url(../images/dark.svg);
      }
    }

    @include tab {
      width: 80px;
      height: 44px;

      &::before {
        height: 34px;
      }

      &:checked {
        &::before {
          transform: translate(37px, -50%);
        }
      }
    }
  }
}

.prefectures {
  @include section-margin;

  &__title {
    @include section-title;
  }

  &__select {
  }
}

.overview {
  @include section-margin;

  &__title {
    @include section-title;
  }

  &__table {
    display: grid;
    grid-template-columns: [heading] max-content [description] 1fr;
    grid-template-rows: repeat(3, max-content);
  }

  &__group {
    display: contents;
  }

  &__heading {
    grid-column: heading;
    padding: 10px;
    border-left: 1px solid var(--font-color);
    border-top: 1px solid var(--font-color);
    font-weight: 700;
    font-size: clamp(12px, 1.2rem, 13px);

    @include tab {
      font-size: clamp(13px, 1.3rem, 14px);
    }

    @include pc {
      font-size: clamp(14px, 1.5rem, 15px);
    }

    &:last-of-type {
      border-bottom: 1px solid var(--font-color);
    }
  }

  &__publisher,
  &__report-date-time,
  &__text {
    grid-column: description;
    padding: 10px;
    border-left: 1px solid var(--font-color);
    border-right: 1px solid var(--font-color);
    border-top: 1px solid var(--font-color);
    font-size: clamp(12px, 1.2rem, 13px);

    @include tab {
      font-size: clamp(13px, 1.3rem, 14px);
    }

    @include pc {
      font-size: clamp(14px, 1.5rem, 15px);
    }

    &:last-of-type {
      border-bottom: 1px solid var(--font-color);
    }
  }

  &__publisher {
    grid-row: 1;
  }

  &__report-date-time {
    grid-row: 2;
  }

  &__text {
    grid-row: 3;
  }
}

.recent {
  @include section-margin;

  &__title {
    @include section-title;
  }

  &__table {
    display: grid;
    grid-template-columns: [heading] max-content repeat(2, 1fr);
    grid-template-rows: [date] 1fr [weather] 2fr [wave] 1fr [pops] 1fr [temps-max] 1fr [temps-min] 1fr;
  }

  &__group {
    display: contents;
  }

  &__heading {
    grid-column: heading;
    padding: 10px;
    border-top: 1px solid var(--font-color);
    border-left: 1px solid var(--font-color);
    font-weight: 700;
    font-size: clamp(12px, 1.2rem, 13px);

    @include tab {
      font-size: clamp(13px, 1.3rem, 14px);
    }

    @include pc {
      font-size: clamp(13px, 1.4rem, 14px);
    }

    &:last-of-type {
      border-bottom: 1px solid var(--font-color);
    }
  }

  &__note {
    font-weight: 400;
    font-size: 10px;

    @include tab {
      font-size: 11px;
    }

    @include pc {
      font-size: 12px;
    }
  }

  &__br {
    @include pc {
      display: none;
    }
  }

  &__prefectural-capital {
  }

  &__high {
    color: $red;
  }

  &__low {
    color: $blue;
  }

  &__date,
  &__weather,
  &__wave,
  &__pops,
  &__temps-max,
  &__temps-min {
    padding: 10px;
    display: grid;
    place-content: center;
    border-top: 1px solid var(--font-color);
    border-left: 1px solid var(--font-color);
    font-size: clamp(11px, 1.1rem, 12px);

    @include tab {
      font-size: clamp(12px, 1.2rem, 13px);
    }

    @include pc {
      font-size: 13px;
    }

    &:last-of-type {
      border-right: 1px solid var(--font-color);
    }

    @for $i from 1 through 2 {
      &:nth-of-type(#{$i}) {
        grid-column: #{($i + 1)} / #{($i + 2)};
      }
    }
  }

  &__date {
    grid-row: date;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  &__date-item {
    &.saturday {
      color: $blue;
    }

    &.sunday {
      color: $red;
    }
  }

  &__weather {
    grid-row: weather;
  }

  &__weather-image {
  }

  &__weather-text {
    text-align: center;
  }

  &__wave {
    grid-row: wave;
  }

  &__pops {
    grid-row: pops;
  }

  &__temps-max {
    grid-row: temps-max;
    color: $red;
  }

  &__temps-min {
    grid-row: temps-min;
    color: $blue;
    border-bottom: 1px solid var(--font-color);
  }
}

.weekly {
  @include section-margin;
  overflow: scroll;

  @include tab {
    overflow: auto;
  }

  &__title {
    @include section-title;
  }

  &__table {
    display: grid;
    grid-template-columns: [heading] max-content repeat(6, max-content);
    grid-template-rows: [date] 1fr [weather] 2fr [reliability] 1fr [pops] 1fr [temps-max] 1fr [temps-min] 1fr;

    @include tab {
      grid-template-columns: [heading] max-content repeat(6, 1fr);
    }
  }

  &__group {
    display: contents;
  }

  &__heading {
    grid-column: heading;
    padding: 10px;
    border-top: 1px solid var(--font-color);
    border-left: 1px solid var(--font-color);
    font-weight: 700;
    font-size: clamp(12px, 1.2rem, 13px);

    @include tab {
      font-size: clamp(13px, 1.3rem, 14px);
    }

    @include pc {
      font-size: clamp(13px, 1.4rem, 14px);
    }

    &:last-of-type {
      border-bottom: 1px solid var(--font-color);
    }
  }

  &__prefectural-capital {
  }

  &__br {
    @include pc {
      display: none;
    }
  }

  &__high {
    color: $red;
  }

  &__low {
    color: $blue;
  }

  &__date,
  &__weather,
  &__reliability,
  &__pops,
  &__temps-max,
  &__temps-min {
    padding: 10px;
    display: grid;
    place-content: center;
    border-top: 1px solid var(--font-color);
    border-left: 1px solid var(--font-color);
    font-size: clamp(11px, 1.1rem, 12px);

    @include tab {
      font-size: clamp(12px, 1.2rem, 13px);
    }

    @include pc {
      font-size: 13px;
    }

    &:last-of-type {
      border-right: 1px solid var(--font-color);
    }

    @for $i from 1 through 6 {
      &:nth-of-type(#{$i}) {
        grid-column: #{($i + 1)} / #{($i + 2)};
      }
    }
  }

  &__date {
    grid-row: date;

    &.saturday {
      color: $blue;
    }

    &.sunday {
      color: $red;
    }
  }

  &__weather {
    grid-row: weather;
  }

  &__weather-image {
  }

  &__weather-text {
    text-align: center;
  }

  &__reliability {
    grid-row: reliability;
  }

  &__pops {
    grid-row: pops;
  }

  &__temps-max {
    grid-row: temps-max;
    color: $red;
  }

  &__temps-min {
    grid-row: temps-min;
    color: $blue;
    border-bottom: 1px solid var(--font-color);
  }
}
