@use "../global" as *;

.overviewTable {
  width: 70%;
  display: grid;
  grid-template-columns: max-content 1fr;
  margin-inline: auto;

  dt {
    padding: 10px;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;

    &:last-of-type {
      border-bottom: 1px solid #ccc;
    }
  }

  dd {
    padding: 10px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;

    &:last-of-type {
      border-bottom: 1px solid #ccc;
    }
  }
}


.dark-mode-button {
  //reset
  padding: unset;
  margin: unset;
  font: unset;
  appearance: unset;
  background-color: unset;
  border: unset;

  //
  display: block;
  width: 80px;
  height: 40px;
  border-radius: 100vmax;
  border: 2px solid #ccc;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translate(0, -50%);
    height: 90%;
    aspect-ratio: 1 / 1;
    border-radius: 100vmax;
    background-color: gray;
    transition:
      transform 0.3s ease-out,
      background-color 0.3s ease-out;
  }

  &:checked::before {
    transform: translate(100%, -50%);
    background-color: lightgreen;
  }
}
